.title-strip {
  position: relative;
  width: 100%;
  
}

.title-bg {
  width: 100%;
  height: auto;
  display: block;
}

.title-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  top: 8%; 
}

.title-overlay h1 {
  font-size: 4rem;
  color: #e0f2fe;
  margin-bottom: 12px;
}

.title-overlay p {
  font-size: 1.5rem;
  color: #e0f2fe;
}
