.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #020617, #020617, #020617);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 40px;
  z-index: 100;
}

/* LOGO */
.logo {
  font-size: 26px;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}

.logo span {
  color: #3b82f6;
  text-shadow: 0 0 12px #3b82f6;
}

/* CENTER LINKS */
.nav-center {
  display: flex;
  gap: 32px;
}

.nav-center a {
  color: #cbd5f5;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  padding: 6px 10px;
  transition: 0.3s;
}

.nav-center a:hover {
  color: white;
  text-shadow: 0 0 10px #3b82f6;
}

.nav-center a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 3px;
  background: #3b82f6;
  transition: 0.3s;
  transform: translateX(-50%);
}

.nav-center a:hover::after {
  width: 100%;
}

/* RIGHT */
.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.bell {
  color: white;
  cursor: pointer;
}

.user-box {
  position: relative;
  cursor: pointer;
}

.avatar {
  width: 38px;
  height: 38px;
  /* border-radius: 50%;
  border: 2px solid #3b82f6; */
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  right: 0;
  top: 55px;
  background: #020617;
  border-radius: 12px;
  width: 180px;
  padding: 10px 0;
  box-shadow: 0 0 30px rgba(59,130,246,0.3);
}

.dropdown a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.dropdown a:hover {
  background: #0f172a;
  color: #3b82f6;
}

.dropdown hr {
  border: none;
  border-top: 1px solid #1e293b;
  margin: 6px 0;
}
